<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>시퀄라이즈 서버</title>
    <style>
      table { border: 1px solid black; border-collapse: collapse; }
      table th, table td { border: 1px solid black; }
    </style>
  </head>
  <body>
    <div>
      <form id="user-form">
        <fieldset>
          <legend>사용자 등록</legend>
          <div><input id="username" type="text" placeholder="사업자번호"></div>
          <div><input id="age" type="number" placeholder="비밀번호"></div>
          <div><input id="tablename" type="text" placeholder="가게이름"></div>
          <button type="submit">등록</button>
        </fieldset>
      </form>
    </div>
    <br>
    <div>
        <form id="user-delete">
          <fieldset>
            <legend>사용자 삭제</legend>
            <div><input id="username" type="text" placeholder="사업자번호"></div>
            <button type="submit">삭제</button>
          </fieldset>
        </form>
      </div>
    <br> 
    <table id="user-list">
      <thead>
      <tr>
        <th>사업자번호</th>
        <th>가게이름</th>
        <th>비밀번호</th>
      </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{ user.pass}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <br>
    <div>
        <form id="store-form">
          <fieldset>
            <legend>사업장 등록</legend>
            <div><input id="store_code" type="text" placeholder="사업자등록번호"></div>
            <div><input id="status0" name="status" type="radio" value=0>영업안함
                <input id ="status1" name="status" type="radio" value=1>영업함</div>
            <div><input id="table_cnt" type="number" placeholder="테이블 개수"></div>
            <div><input id="latitude" type="double" placeholder="위도"></div>
            <div><input id="longitude" type="double" placeholder="경도"></div>
            <div><input id="category" type="text" placeholder="카테고리"></div>
            <button type="submit">추가</button>
          </fieldset>
        </form>
    <div>
        <form id="store-delete">
          <fieldset>
            <legend>store 삭제</legend>
            <div><input id="username" type="text" placeholder="사업자등록번호"></div>
            <button type="submit">삭제</button>
          </fieldset>
        </form>
    </div>    
    </div>
    <br>
    <table id="store-list">
        <thead>
        <tr>
          <th>사업자등록번호</th>
          <th>영업여부</th>
          <th>테이블 개수</th>
          <th>위도</th>
          <th>경도</th>
          <th>카테고리</th>
        </tr>
        </thead>
        <tbody>
          {% for store in stores %}
          <tr>
            <td>{{store.store_code}}</td>
            <td>{{store.status}}</td>
            <td>{{store.table_cnt}}</td>
            <td>{{store.latitude}}</td>
            <td>{{store.longitude}}</td>
            <td>{{store.category}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
      <br>
    <div>
        <form id="menu-form">
          <fieldset>
            <legend>메뉴 등록</legend>
            <div><input id="store_code" type="text" placeholder="사업자등록번호"></div>
            <div><input id="menu_name" type="text" placeholder="메뉴명"></div>
            <div><input id="price" type="number" placeholder="가격"></div>
            <div><input id="sold0" name="sold" type="radio" value=0>판매가능
                <input id ="sold1" name="sold" type="radio" value=1>매진</div>
            <button type="submit">추가</button>
          </fieldset>
        </form>
    <div>
    <table id="menu-list">
      <thead>
      <tr>
        <th>사업자등록번호</th>
        <th>메뉴명</th>
        <th>가격</th>
        <th>품절여부</th>
        <th>삭제</th>
        <th>수정</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <br>
    <div>
        <form id="order-form">
            <fieldset>
            <legend>주문목록</legend>
            <div><input id="store_code" type="text" placeholder="사업자등록번호"></div>
            <div><input id="menu_name" type="text" placeholder="메뉴명"></div>
            <div><input id="menu_cnt" type="number" placeholder="메뉴개수"></div>
            <div><input id="table_num" type="number" placeholder="테이블번호"></div>
            <div><input id="cook0" name="cook" type="radio" value=0>조리중
                <input id ="cook1" name="cook" type="radio" value=1>조리완료</div>
            <div><input id="pay0" name="pay" type="radio" value=0>미결제
                <input id ="pay1" name="pay" type="radio" value=1>결제완료</div>
                <button type="submit">추가</button>
            </fieldset>
        </form>
        <table id = "order-list">
            <thead>
                <tr>
                    <th>사업자등록번호</th>
                    <th>메뉴명</th>
                    <th>메뉴개수</th>
                    <th>테이블번호</th>
                    <th>조리여부</th>
                    <th>결제여부</th>
                    <th>주문일시</th>
                    <th>삭제</th>
                    <th>조리여부</th>
                    <th>결제여부</th>
                    
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/sequelize.js"></script>
  </body>
</html>